{{- if .Values.datadog.enabled }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "test-devops-app.fullname" . }}-datadog
  labels:
    {{- include "test-devops-app.labels" . | nindent 4 }}
    app.kubernetes.io/component: datadog-agent
rules:
- apiGroups:
  - ""
  resources:
  - services
  - events
  - endpoints
  - pods
  - nodes
  - componentstatuses
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - configmaps
  resourceNames:
  - datadog-leader-election
  - datadog-cluster-id
  verbs:
  - get
  - update
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - create
- nonResourceURLs:
  - /version
  - /healthz
  - /metrics
  verbs:
  - get
- apiGroups:
  - apps
  resources:
  - deployments
  - replicasets
  - daemonsets
  - statefulsets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - batch
  resources:
  - jobs
  - cronjobs
  verbs:
  - get
  - list
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "test-devops-app.fullname" . }}-datadog
  labels:
    app: datadog-agent
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "test-devops-app.fullname" . }}-datadog
subjects:
- kind: ServiceAccount
  name: {{ include "test-devops-app.fullname" . }}-datadog
  namespace: {{ .Release.Namespace }}
{{- end }}

