apiVersion: v1
kind: Service
metadata:
  name: {{ include "test-devops-app.fullname" . }}
  labels:
    app: {{ include "test-devops-app.name" . }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 3000
      protocol: TCP
      name: http
      {{- if and (eq .Values.service.type "NodePort") .Values.service.nodePort }}
      nodePort: {{ .Values.service.nodePort }}
      {{- end }}
  selector:
    app: {{ include "test-devops-app.name" . }}
