{{- if and .Values.datadog.enabled .Values.vault.enabled .Values.datadog.useVaultSecrets }}
apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: vault-datadog-secret
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "test-devops-app.labels" . | nindent 4 }}
spec:
  provider: vault
  parameters:
    vaultAddress: {{ .Values.vault.address | quote }}
    vaultSkipTLSVerify: {{ .Values.vault.skipTLSVerify | quote }}
    roleName: {{ .Values.vault.roleName | quote }}
    objects: |
      - objectName: "dd-api-key"
        secretPath: {{ .Values.vault.secrets.secretPath | quote }}
        secretKey: "DD_API_KEY"
      - objectName: "dd-site"
        secretPath: {{ .Values.vault.secrets.secretPath | quote }}
        secretKey: "DD_SITE"
      - objectName: "dd-env"
        secretPath: {{ .Values.vault.secrets.secretPath | quote }}
        secretKey: "DD_ENV"
      - objectName: "dd-hostname"
        secretPath: {{ .Values.vault.secrets.secretPath | quote }}
        secretKey: "DD_HOSTNAME"
      - objectName: "app-name"
        secretPath: {{ .Values.vault.secrets.secretPath | quote }}
        secretKey: "APP_NAME"
      - objectName: "node-env"
        secretPath: {{ .Values.vault.secrets.secretPath | quote }}
        secretKey: "NODE_ENV"
      - objectName: "service-name"
        secretPath: {{ .Values.vault.secrets.secretPath | quote }}
        secretKey: "SERVICE_NAME"
      - objectName: "port"
        secretPath: {{ .Values.vault.secrets.secretPath | quote }}
        secretKey: "PORT"
      - objectName: "enable-metrics"
        secretPath: {{ .Values.vault.secrets.secretPath | quote }}
        secretKey: "ENABLE_METRICS"
  secretObjects:
    - secretName: app-secrets
      type: Opaque
      data:
        - objectName: "dd-api-key"
          key: "dd-api-key"
        - objectName: "dd-site"
          key: "dd-site"
        - objectName: "dd-env"
          key: "dd-env"
        - objectName: "dd-hostname"
          key: "dd-hostname"
        - objectName: "app-name"
          key: "app-name"
        - objectName: "node-env"
          key: "node-env"
        - objectName: "service-name"
          key: "service-name"
        - objectName: "port"
          key: "port"
        - objectName: "enable-metrics"
          key: "enable-metrics"
{{- end }}