apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: vault-secrets
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "test-devops.labels" . | nindent 4 }}
spec:
  provider: vault
  parameters:
    vaultAddress: "{{ .Values.vault.address }}"
    vaultSkipTLSVerify: "{{ .Values.vault.skipTLSVerify }}"
    roleName: "{{ .Values.vault.roleName }}"
    objects: |
      - objectName: "service-name"
        secretPath: "{{ .Values.vault.secrets.secretPath }}"
        secretKey: "SERVICE_NAME"
      - objectName: "node-env"
        secretPath: "{{ .Values.vault.secrets.secretPath }}"
        secretKey: "NODE_ENV"
      - objectName: "port"
        secretPath: "{{ .Values.vault.secrets.secretPath }}"
        secretKey: "PORT"
      - objectName: "enable-metrics"
        secretPath: "{{ .Values.vault.secrets.secretPath }}"
        secretKey: "ENABLE_METRICS"
      - objectName: "dd-dogstatsd-port"
        secretPath: "{{ .Values.vault.secrets.secretPath }}"
        secretKey: "DD_DOGSTATSD_PORT"
      - objectName: "dd-agent-host"
        secretPath: "{{ .Values.vault.secrets.secretPath }}"
        secretKey: "DD_AGENT_HOST"
  secretObjects:
    - secretName: app-secrets
      type: Opaque
      data:
        - objectName: "service-name"
          key: "service-name"
        - objectName: "node-env"
          key: "node-env"
        - objectName: "port"
          key: "port"
        - objectName: "enable-metrics"
          key: "enable-metrics"
        - objectName: "dd-dogstatsd-port"
          key: "dd-dogstatsd-port"
        - objectName: "dd-agent-host"
          key: "dd-agent-host"