replicaCount: 1

image:
  tag: "develop"

env:
  serviceName: "test-devops"
  enableMetrics: "true"
  ddDogstatsdPort: "8125"
  nodeEnv: "develop"

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi

podAnnotations:
  env: "develop"
  tier: "nonprod"
  cluster: "gke-nonprod"

datadog:
  enabled: true  # เปิดใช้งาน Datadog
  apiKey: "5d8326c2c77f6c4551c8de7e232becb4"
  site: "datadoghq.com"

  agent:
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        cpu: 500m
        memory: 512Mi

