replicaCount: 2

image:
  tag: "main-9816a6c"

serviceAccount:
  create: true
  annotations: {}
  name: ""

env:
  serviceName: "test-devops"
  enableMetrics: "true"
  ddDogstatsdPort: "8125"
  nodeEnv: "uat"

resources:
  requests:
    cpu: 150m
    memory: 192Mi
  limits:
    cpu: 1000m
    memory: 1Gi

podAnnotations:
  env: "uat"
  tier: "nonprod"
  cluster: "gke-nonprod"

podDisruptionBudget:
  enabled: true
  minAvailable: 1

datadog:
  enabled: true
  apiKey: ""  # จะได้มาจาก Vault
  site: "datadoghq.com"
  useVaultSecrets: true

  agent:
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        cpu: 500m
        memory: 512Mi

    apm:
      enabled: true

# Vault configuration for secrets injection
vault:
  enabled: true
  address: "https://vault-devops.extosoft.app"
  skipTLSVerify: "true"
  roleName: "k8s-app"
  serviceAccount: "vault-auth"
  secrets:
    secretPath: "secret/data/k8s/test-devops-uat"
    fields:
      appName: "APP_NAME"
      datadogApiKey: "DATA_DOG_API_KEY"
      nodeEnv: "NODE_ENV"

