replicaCount: 2

image:
  tag: "latest"

env:
  serviceName: "test-devops"
  enableMetrics: "true"
  ddDogstatsdPort: "8125"
  nodeEnv: "uat"

resources:
  requests:
    cpu: 150m
    memory: 192Mi
  limits:
    cpu: 1000m
    memory: 1Gi

podAnnotations:
  env: "uat"
  tier: "nonprod"
  cluster: "gke-nonprod"

datadog:
  enabled: true
  apiKey: ""  # Set via --set or secret
  site: "datadoghq.com"

  agent:
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        cpu: 500m
        memory: 512Mi

    apm:
      enabled: true

